.goldBorder{
background: #ffffff;
    border-left: 4px solid #007bff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}


.form {
  flex: 1;
  min-width: 320px;
  max-width: 600px;
}

.form-headline {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}