.dropdownItems{
    display: grid;
    grid-template-columns: repeat(3,300px);
    gap:0px

    
}

.headingPanel:hover{
 color:#87CEEB
}

@media screen and (max-width: 1200px) {
    .dropdownItems{
     grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
}