.faqOuter{

font-size: 1rem;
width:75%;
margin:auto;
margin-top: 100px!important;
margin-bottom:50px ;
background-color: white;
border-radius: 20px;

}

.insideAccordin{
    width: 75% !important;;
    margin: auto !important;;
}

@media screen and (max-width: 500px) {
.faqOuter{
    width:100%;
    font-size: 1rem;
}

.insideAccordin{
    width: 95% !important;;
    margin: auto !important;;
}
.buttonAccordin{
    height: 60px;
}
}