.containerWrapper{
color:rgb(38, 38, 38);
display:flex;
font-size:16px;
font-style:normal;
font-weight:400;
justify-content:center;
line-height:28.8px;
text-align:start;
text-size-adjust:100%;
background-color:rgba(245, 245, 245, 0)
}

.outerContainer_1{
display:flex;
flex-basis: 100%;
flex-grow:0;
flex-shrink:0;
max-width:1180px;
padding:41px 15px 47px 15px;
}

.innerContainer_1{
    display:flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;

}

.mediaLeft{
    max-width: 500px;
}

.leftUpper{
    display:flex;
    margin-bottom: 24px;
}

.leftUpperIconBox{
 align-items:center;
border-bottom-color:rgb(255, 255, 255);
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
border-bottom-style:solid;
border-bottom-width:1px;

border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(255, 255, 255);
border-left-style:solid;
border-left-width:1px;
border-right-color:rgb(255, 255, 255);
border-right-style:solid;
border-right-width:1px;
border-top-color:rgb(255, 255, 255);
border-top-left-radius:15px;
border-top-right-radius:15px;
border-top-style:solid;
border-top-width:1px;
box-sizing:border-box;
color:rgb(38, 38, 38);
display:flex;

font-size:16px;
font-style:normal;
font-weight:400;
height:50px;
line-height:28.8px;
min-height:50px;
padding-bottom:7px;
padding-left:7px;
padding-right:7px;
padding-top:7px;
text-align:start;
text-size-adjust:100%;



}
.leftUpperIconSpan{
    font-size: 16px;
    margin-right:8px;
}

.leftUpperText{
    font-size: 18px;
    font-weight: 600;
    margin-right:18px;
    line-height: 18px;
    text-align:start;
}

.mediaLeft h1{
    font-size: 48px;
    font-weight: 400;
    line-height: 48px;
    text-align: start;
}

.leftDescription{
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    margin-top:40px;
    text-align: start;
}

.sec1BtnWrapper{
margin-top:59px;
text-size-adjust: 100%;
}

.sec1Btn{

font-size: 16px;
font-weight: 700;
text-align: center;
padding: 12px 24px;
margin-bottom:10px;
outline-width:0 ;
line-height: 21px;
text-decoration-line: none;
background-color: #bdf300;
vertical-align: middle;
border-radius: 30px;
text-transform: uppercase;
position: relative;
}

.commanBackContainer{
    display:flex;
     justify-content: flex-end;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;

}

.commanBackInnerContainer{
    max-width:600px;
    flex-basis: 600px;
    flex-grow: 0;
    flex-shrink:0;
}

.commanBackInnerContainer img{
max-width: 100%;
overflow-y: clip;
overflow-x: clip;
}

/* Section-2 */
.customRow{
background-color:  #E1EBEE;
}
.rowInner{
    max-width: 1140px;
    margin:auto;
  
    
}

.listGroupContainer{
    max-width: 203px;
    margin:120px 80px 0px  15px;
     
}

.listInnerContainer{
    width:100%;
    position:sticky;
    top:170px;
    
}

.contentWrapper{
    display: flex;
    justify-content: center;
    margin-top:120px;
}
.contentWrapper div{
    padding-left:12px;
    padding-right:12px;
    max-width: 1440px;
    
    
}
.textWrapper{
 text-align: center;
 margin-bottom: 50px;
}
.textWrapper  h4{
   font-size:36px;
   font-weight: 400;
}

.textWrapper p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
}

.mediaContentWrapper{
    display:flex;
    column-gap: 50px;

}
.mediaImgContainer{
max-width:600px;

}

.mediaContentWrapper li{
    list-style-type:none;
    margin-bottom:50px
}

.mediaImgContainer img{
    max-width:600px;
    
    
}

.mediaContentWrapper span{
    margin-left: 5px;
}

.cardGrid{
    margin-top:60px;
    display:flex;
    gap:70px;
    
    
    
}

.cardGrid div{
border-radius: 15px;
border:none;
max-width:300px;
background-color:#F8F8F8;
padding-right: 0;
padding-left: 0;
flex:1 1 300px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.cardText{
padding-left: 20px!important;
padding-right:20px!important;
margin-bottom: 5px;
}



.cardGrid h5{
    color:#2E2929;
    text-align:start;
    font-size:24px;
    text-size-adjust: 100%;
}

.cardGrid p{
    color:#2E2929;
    text-align:start;
    hyphens:auto;
    text-align-last: left;
    word-spacing: -0.03em;
    margin-top:25px;
    font-size:18px;
    text-size-adjust: 100%;
    
}

.cardGrid img{
   width:100%;
   object-fit:cover;
   padding-left:20px;
   border-top-left-radius:0px !important;
border-top-right-radius:0px !important;
   
   
}