/* ----------------------------
 BASIC NAVBAR COLORS
-----------------------------*/

.custom-navbar {
  background-color: #0f3a4e !important;
}

.custom-navbar .nav-link {
  color: #ffffff !important;
  font-weight: 500;
}

.custom-navbar .nav-link:hover {
  color: #eacd62 !important;
}

.firstContainer {
  align-items: center;
}

.logoImg {
  width: 4em;
}
.navLeft {
  display: flex;
}

.navLeft a {
  margin-right: 25px;
}

.navRight {
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
  align-items: center;
  margin-bottom: 0px;
}

.navRight li {
  list-style: none;
}
.navRight li a {
  color: white;
}
.custom-text {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.whtsappImg {
  width: 35px;
}

.mailImg {
  width: 50px;
}

.linkdeinIcon {
  width: 35px;
  height: 35px;
  color: #1877f2;
}
/* .importedProducts{
  display:flex;
  position:absolute;
  z-index:9999;
  height:85vh;
  box-shadow: 0 -5px 0 rgba(128, 128, 128, 0.055);
} */

.custom-dropdown {
  position: relative;
}

/* PRODUCTS arrow */
.custom-dropdown > a.dropdown-toggle::after {
  content: "";
  display: inline-block;
  margin-left: 6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform 0.25s ease;
}

.rotate::after {
  content: "";
  transform: rotate(180deg);

  border: none;
}

.custom-dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  min-width: 300px;
}

.hamburger {
  display: inline-block;
  width: 25px;
  height: 20px;
  position: relative;
}

.hamburger .bar {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 2px;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease, top 0.3s ease, opacity 0.2s ease;
}

.hamburger .bar:nth-child(1) {
  top: 0;
}
.hamburger .bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger .bar:nth-child(3) {
  top: 100%;
  transform: translateY(-100%);
}

/* when toggler has open class, morph to a cross */
.navbar-toggler.open .bar:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.navbar-toggler.open .bar:nth-child(2) {
  opacity: 0;
}
.navbar-toggler.open .bar:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.navbar-toggler {
  background-color: #eacd62 !important;
  border: none;
}

@media screen and (max-width: 1200px) {
  .navLeft {
    max-width: 100px;
    align-items: center;
  }
  .navbar-collapse {
    position: absolute;
    top: 59px;
    z-index: 999999;
    width: 100%;
    padding-left: 15px;
    left: 0;
    background-color: #0f3a4e !important;
  }
  .custom-navbar .container-fluid {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
  }

  .navbar-toggler {
    order: 1;
    max-height: 35px;
  }

  .navbar-brand {
    order: 2;
  }

  .logoImg {
    max-width: 200px;
  }
}

@media screen and (max-width: 500px) {
  /* Do not hide the navbar links on small screens; let the collapse control visibility */
  .custom-navbar .container-fluid {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
  }
  .navLeft {
    display: flex;
    max-width: none;
    align-items: center;
  }
  .navbar-brand {
    order: 2;
  }
  .navbar-toggler {
    order: 1;
    max-height: 40px;
  }
  .navbar-collapse {
    position: absolute;
    top: 59px;
    z-index: 999999;
    width: 100%;
    padding-left: 15px;
    left: 0;
    background-color: #0f3a4e !important;
  }
  .logoImg {
    max-width: 200px;
  }

  /* ensure navRight sits to the right on small screens */
  .navRight {
    order: 3;
    gap: 8px;
  }

  .navRight {
    column-gap: 20px;
  }
  .whtsappImg {
    max-width: 20px;
  }

  .mailImg {
    max-width: 30px;
  }

  .linkdeinIcon {
    max-width: 20px;
  }
}
