/* ----------------------------
 BASIC NAVBAR COLORS
-----------------------------*/

.custom-navbar {
  background-color:#0f3a4e !important;
}

.custom-navbar .nav-link {
  color: #ffffff !important;
  font-weight: 500;
}

.custom-navbar .nav-link:hover {
  color: #eacd62 !important;
}

.firstContainer {
  align-items: center;
}

.logoImg {
width: 4em;
}
.navLeft {
  display: flex;
}

.navLeft a {
  margin-right: 25px;
}

.navRight {
  display: flex;
  justify-content: space-around;
  column-gap: 30px;
  align-items: center;
  margin-bottom: 0px;
}

.navRight li {
  list-style: none;
}
.navRight li a {
  color: white;
}
.custom-text {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.whtsappImg{
  width:35px;
}

.mailImg{
  width:50px;
}

.linkdeinIcon{
width:35px;
 height: 35px;
  color: #1877F2

}
/* .importedProducts{
  display:flex;
  position:absolute;
  z-index:9999;
  height:85vh;
  box-shadow: 0 -5px 0 rgba(128, 128, 128, 0.055);
} */

.custom-dropdown {
  position: relative;
}

/* PRODUCTS arrow */
.custom-dropdown > a.dropdown-toggle::after {
  content: "";
  display: inline-block;
  margin-left: 6px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform 0.25s ease;
}

.rotate::after {
  content: "";
  transform: rotate(180deg);

  border: none;
}

.custom-dropdown-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  min-width: 300px;
}

@media screen and (max-width: 1200px) {


  .navLeft{
    display:flex;
    flex-direction: column;
    max-width:100px

  }
   
  
   .container-fluid{
    display: flex;
   align-items:start!important;

   
    
  }

  .logoImg {
    max-width: 5rem;
  }

 

}

@media screen and (max-width: 500px) {
  /* Do not hide the navbar links on small screens; let the collapse control visibility */
  .navLeft{
    max-width: 50px;
  }
  .logoImg {
    max-width: 5rem;
  }
  .whtsappImg{
max-width: 30px;
  }

  .mailImg{
max-width: 40px;
  }

  .linkdeinIcon{
max-width: 30px;
  }
 

 

  

  


  
}
