.outerContainer{
    background-color: rgba(245, 245, 245, 0);
    margin-bottom:50px;
}

.topParagraph{
    margin-bottom:150px;
    margin-top:50px;
    font-size:20px;
}
.topImg{
    max-width:640px;
}

.custom-container{
    background-color: #e1ebee!important;
    padding-top:50px;
}

.cardItem{
    
    
    
   
}
.cardInner{
text-align:center;
 background-color:#e5f3ff!important;
 border-radius:20px ;
 height:30vh;
 position:relative;
}

.navigationArrow{
    font-size: 20px;
   right:0
   
    
}

.repeatH3{
text-align: start;
font-size: 20px;
}

.repeatP{
    text-align: start;

}
.outerMarginBox{
margin-top:100px;
margin-bottom:100px;
background-color:rgba(0, 0, 0, 0.05);
border-radius:20px;
}

.innerMarginBox{
    display:flex;
    justify-content:center;
    align-items:center;

    
}

.innerMarginBox h1{
    margin-bottom:25px;
}
.innerMarginBox img{
    max-width:340px;

}


.freeBtn{
    background-color:#bdf300;
    padding:13px 30px;
    border-radius:15px;
    font-weight:bold;
    
    
}

@media (max-width: 600px) {
.cardInner{
    height: 20vh;
}
}