*{
    font-family: "Montserrat Variable", "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L",sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* *{
    outline:2px solid red 
} */

.importedProducts{
  display:flex;
  position:absolute;
  
  z-index:9999;
  height:92vh;
  width:100%;
  /* Prevent this invisible container from intercepting clicks on the hero
     while still allowing its interactive children to receive events. */
  pointer-events: none;

}

/* Re-enable pointer events for interactive children inside the importedProducts wrapper */
.importedProducts .sidebarContainer,
.importedProducts .dropdownItems {
  pointer-events: auto;
}
@media screen and (max-width: 1200px) {
  .importedProducts{
    flex-direction:column;
    top:315px;
    width:100%;
  }
 
}

@media screen and (max-width: 500px) {
  .importedProducts{
    flex-direction:column;
    top:320px;
    box-shadow: none;
    border-top: none;
  }
}