*{
    font-family: "Montserrat Variable", "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L",sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* *{
    outline:2px solid red 
} */

.importedProducts{
  display:flex;
  position:fixed;
  z-index:999999;
  height:90vh;
  width:100%;
  /* Prevent this invisible container from intercepting clicks on the hero
     while still allowing its interactive children to receive events. */
  pointer-events: none;

}


.importedProducts .sidebarContainer, 
.importedProducts .dropdownItems,
.importedProducts .upperDropdownSection{
  pointer-events: auto;
}


@media screen and (max-width: 1200px) {
  .importedProducts{
    flex-direction:column;
    top:318px;
    width:100%;
  }
 
}

@media screen and (max-width: 500px) {
  .importedProducts{
    flex-direction:column;
    top:302px;
    box-shadow: none;
    border-top: none;
  }
}