*{
    font-family: "Montserrat Variable", "Helvetica Neue", Verdana, "Helvetica CY", "Nimbus Sans L",sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* .rowInner{
    outline:2px solid red 
} */

.importedProducts{
  display:flex;
  position:absolute;
  z-index:9999;
  height:85vh;
  box-shadow: 0 -5px 0 rgba(128, 128, 128, 0.055);
  
}

@media screen and (max-width: 500px) {
  .importedProducts{
    flex-direction:column;
    top:320px;
  }
}